@model MojecHRApp.Models.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Experience</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update Experience</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form asp-action="EditExperience" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CompanyName" class="control-label"></label>
                                        <input asp-for="CompanyName" class="form-control" />
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Role" class="control-label"></label>
                                        <input asp-for="Role" class="form-control" required />
                                        <span asp-validation-for="Role" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Designation" class="control-label"></label>
                                        <input asp-for="Designation" class="form-control" />
                                        <span asp-validation-for="Designation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="From" class="control-label"></label>
                                        <input type="date" asp-for="From" class="form-control" required />
                                        <span asp-validation-for="From" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="To" class="control-label"></label>
                                        <input type="date" asp-for="To" class="form-control" required />
                                        <span asp-validation-for="To" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Update</button>
                                    <a asp-action="GetStaffExperience" class="btn btn-primary">Back to list</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

