
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


<div class="">
    <div class="row" style="display: inline-block;">
      
            <div class="animated flipInY col-lg-6  col-md-6 col-sm-6 ">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div class="count">179</div>
                    <h3>Leave Application</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 ">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-comments-o"></i></div>
                    <div class="count">179</div>
                    <h3>Approved Application</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 ">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-comments-o"></i></div>
                    <div class="count">179</div>
                    <h3>Declined Application</h3>
                </div>
            </div>
        </div>
   
</div>




@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != null) {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.error(del);
            }
        })
    </script>
        }

